<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="dev | staging">
        <root level="debug">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>