<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="USER_NAME" value="/data/logs"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.melody.springbootlearn.SpringBootLearnApplicationTests" level="debug"/>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${USER_NAME}/spring-boot-learn.log</file>
        <encoder>
            <pattern>
                %date %level [%thread] %logger{10} [%file:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>